name: Laravel CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
    - uses: actions/checkout@v4
    - run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - run: composer install
    - run: php artisan key:generate
    - run: chmod -R 777 storage bootstrap/cache
    - run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: php artisan test

  deploy:
    needs: laravel-tests       # Run deployment only if tests pass
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to Live Server via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.SERVER_IP }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        port: 22
        script: |
          cd /var/www/your_project
          git pull origin main
          composer install --no-dev
          php artisan optimize:clear
          php artisan migrate --force
          php artisan optimize
